.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
*.db
*.csv
*.log
.mlflow/
airflow/*.json
*.json
simple_auth_manager_passwords.json.generated
*.json.generated

.env.*

data/
models/*.pkl
models/*.joblib
models/*.onnx

.airflow/
logs/
tmp/

__MACOSX/
.DS_Store

.kube/
*.pem
*.key